.mySwiper {
  width: 90%;
  top: 10%;
  height: 80%;
  border-radius: 5px;
}

.swiper__item {
  background-color: white;
  border-radius: 5px;
  display: grid;
  align-items: center;
  text-align: center;
}
